html,body, *{
    box-sizing: border-box;
    background-color: rgb(182, 189, 252);
    font-family: century-gothic, sans-serif;
    font-weight: lighter;
}

h1 {
    text-align: center;
    padding: 10px;

}

img {
    width: 15rem;
    height: 15rem;
    /*border: 4px dotted white; */
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}


img:hover {
    transform: scale(1.1);
    transition: all ease-in-out 0.3s;
}